@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  src: local('/Inter.ttf') format('ttf');
}

@font-face {
  font-family: 'Inter-Italic';
  src: local('/Inter-Italic.ttf') format('ttf');
}

main {
  //font-family: 'Inter';
  //font-weight: 400;
}

body {
  font-family: var(--font-sans), sans-serif;
}

html {
  @apply antialiased;
}

body {
  @apply bg-background text-foreground;
}

@layer components {
  *,
  ::before,
  ::after {
    --tw-ring-color: theme('colors.foreground/0.25');
    @apply border-neutral-200;
  }
}

@layer base {
  :root {
    --background: 206 52% 100%;
    --foreground: 206 5% 10%;
    --card: 206 50% 100%;
    --card-foreground: 206 5% 15%;
    --popover: 206 52% 100%;
    --popover-foreground: 206 95% 10%;
    --primary: 206 100% 41%;
    --primary-foreground: 0 0% 100%;
    --secondary: 206 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 168 30% 95%;
    --muted-foreground: 206 5% 40%;
    --accent: 168 30% 90%;
    --accent-foreground: 206 5% 15%;
    --destructive: 0 52% 50%;
    --destructive-foreground: 206 5% 100%;
    --border: 206 30% 82%;
    --input: 206 30% 50%;
    --ring: 206 100% 41%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 206 50% 10%;
    --foreground: 206 5% 100%;
    --card: 206 50% 10%;
    --card-foreground: 206 5% 100%;
    --popover: 206 50% 5%;
    --popover-foreground: 206 5% 100%;
    --primary: 206 100% 41%;
    --primary-foreground: 0 0% 100%;
    --secondary: 206 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 168 30% 25%;
    --muted-foreground: 206 5% 65%;
    --accent: 168 30% 25%;
    --accent-foreground: 206 5% 95%;
    --destructive: 0 52% 50%;
    --destructive-foreground: 206 5% 100%;
    --border: 206 30% 50%;
    --input: 206 30% 50%;
    --ring: 206 100% 41%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
